[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
requests = "*"
pandas = "*"
jupyterlab = "*"
flake8 = "*"
twine = "*"

[packages]

[requires]
python_version = "3.6"
